.btn-large {
    text-align: center;
    background-color: #75b9ff;
    line-height: 56px;
    font-size: 32px; !important;
    letter-spacing: 1px;
    margin: 0 10px 20px 10px;
}
.btn-large:hover {
    background-color: rgba(117, 185, 255, 0.87);
}

.btn-large:focus{
    background-color: #78a4e3;
}

